body {
    background-color: #181a1b;
    background-color: #2d223b;
    color: #e0e0e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#artic header{
    margin-bottom: 1rem;
    display: block;
    text-align: center;
}
#artic main {
    text-align: justify;
    margin: 0px 3%;
}

.annotation {
    font-style: italic;
}
.annotation .name {
    font-weight: bold;
}
#artic ul {
    margin: 0.5rem 0px;
    line-height: 1.5;
    padding: 0px;
}

#artic ol {
    padding: 0px;
}

#artic li {
    list-style-position: inside;
    text-indent: 2em;
    margin: 0.5rem 0px;
    line-height: 1.5;
}

#artic #lit_list li {
    text-indent: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}



#mugshot {
    margin-top: 1.7rem;
    margin-right: 1rem;
    max-width: 180px;  
    min-width: 90px;  
    flex: 0 0 30%;
}

#mugshot img {
    width: 100%;       
    height: auto;   
}  

header {
    display: flex;
    align-items: flex-start;
}

header, footer {
    background-color: #252b30;  
    background-color: #593583;
    background-color: #3f2261;
    padding: 1% 3%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-left p {
    font-weight: bold;
}

.foot-right, .foot-left {
    flex: 1;
    display: flex;
    width: 25%;
}

.foot-left {
    justify-content: flex-start;
}

.foot-left p {
    text-indent: 0;
}

.foot-right {
    justify-content: flex-end;
}

.foot-center {
    flex: 0 0 auto;
    display: flex;
    gap: 25%;
    justify-content: center;
    width: 50%;
}

.nav_bar {
    display: flex;
    justify-content: center;
}

.nav_bar ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 2%;

    justify-content: center;
}
.nav_bar li {
    border-radius: 20px;
    border: 1px solid #812fdf;
    background: #3f2261;
}
.nav_bar button {
    width: 240px;
    height: 60px;
    border-radius: 20px;
    display: flex;             
    align-items: center;       
    justify-content: center; 
    text-align: center;
}
.nav_bar a {
    padding: 0.625rem;
    font-size: 1.25rem;
}

.nav_bar button:hover {
    background-color: #3e0542;
    cursor: pointer;
}


#h1_main, .h1_center {
    text-align: center;
    margin-top: 0;
    margin: 15px;
}


p {
    margin: 0.5rem 0px;
    text-indent: 2rem;
    line-height: 1.5;
    text-align: justify;
}

.div_formula {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0.5rem 0;
}

.div_formula math {
    font-size: 1.25rem;
    margin: 0 auto;
}
.div_formula span {
    position: absolute;
    right: 0;
}

.div_explanation{
    display: flex;
    align-items: flex-start;
    gap: 1em;
    margin: 8px 0px 2em 0px;

    line-height: 1.5;
    text-align: justify;
}

ul.ul_nobullet {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul.ul_dash {
    list-style-type: none;
    padding-inline-start: 10px;
}
ul.ul_dash > li {
    text-indent: -5px;
}
ul.ul_dash > li:before {
    content: "– ";
}
#main_diss ul.ul_dash {
    margin: 8px 0px;
}

ol {
    padding-inline-start: 1rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ol_diss {
    margin: 8px 0px;
    padding-inline-start: 3rem;
    line-height: 1.5;
    text-align: justify;
}
.ol_sciworks {
    padding: 0px;
    line-height: 1.5;
    text-align: justify;
}
.ol_sciworks li {
    background-color: #47187c;
    margin: 16px 0px;
    padding: 10px;
    border: 1px solid #593583;
    border-radius: 15px;
    list-style-position: inside;
}

.ol_sciworks div > div {
    margin-top: 0.5rem;
}

#lit_list {
    text-align: justify;
    padding-inline-start: 0px;
    list-style-position: inside;
}
#lit_list li {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.fig_img > img {
    max-width: 100%;
    display: block;
    margin: auto;
}
.fig_img > figcaption{
    margin-top: 0.5rem;
    text-align: center;
}
.fig_table {
    margin: 1rem 0px;
}
.fig_table > table {
    background: #1e0220;
    margin: auto 2rem;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
}

.fig_table figcaption {
    text-indent: 2rem;
    text-align: justify;
    line-height: 1.5;
}

.fig_table > table th, .fig_table > table td {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
    padding: 5px;
}
.fig_table > table th {
    height: 1.5rem;
    background: #4a084e;
}
.fig_table > table td:hover {
   background-color: #720f79;
}
.fig_table > figcaption
{
    margin-bottom: 0.5rem;
}

.text-centered {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justified {
    text-align: justify;
}

a {
    font-weight: bold;
    color: #e0e0e0;
    text-decoration: none;
    transition: color 0.2s;
}
a:hover {
    color: #cabdbd;
}

.vidblock {
    text-align: center;
}
.vidblock video {
    border: 1px solid #812fdf;
    border-radius: 100%;
    height: 200%;
    width: 50%;
    padding: 5px;
}

main, .vidblock, .div_content {
    padding: 1rem 1.5625rem;
    margin: auto 15%;
    background: #1e0220;
    background: rgba(30, 2, 32, 0.8);
    border-radius: 15px;
}

.div_content {
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: justify;
    font-size: 1.125rem;
}


.table_borderless, .table_borderless th, .table_borderless td {
    border: none;
    border-collapse: collapse;
}

.table_borderless td {
    padding: 5px 5px 15px 5px;
    vertical-align: top;
}

.table_borderless tr:hover {
    background-color: #3e0542;
}

#author-info {
    display: flex;
    gap: 1.25rem;
    align-items: flex-start;
    margin-top: 1.25rem;
}

#author-info p {
    text-indent: 0px;
}

#author-info .mugshot {
    width: 25%;
    min-width: 100px;
    height: auto;
}

button {
    border-radius: 1rem;
    padding: 0px 10px;
    border: 1px solid #812fdf;
    background: #47187c;
    width: 200px;
}
button:hover {
    background-color: #3e0542;
    cursor: pointer;
    transform: translateY(-2px) scale(1.05);
}
#buttonTop {
    width: auto;
}

::-webkit-scrollbar {
    width: 8px;
    background: #23272a;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

.animation-container {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
}

.bone {
    position: absolute;
    font-size: 32px;
    user-select: none;
}
  
.links_list {
    padding: 0px;
}

.links_list li {
    list-style-position: inside;
    margin: 1rem 0px;
    line-height: 1.5;
}

.block_img {
    display: grid;
    grid-template-areas: "text image";
    align-items: start;

    border: white 2px solid;
    padding: 1rem;
    border-radius: 1rem;
}

.block_img p {
    grid-area: text;
}

.block_img img {
    grid-area: image;

    float: right; 
    margin-left: 15px;
    width: 100%;
    height: auto;
}

@media (max-width: 1700px) {
    .block_img {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .block_img img {
        float: none;
        margin: 0 0 0.5rem 0;
        width: 100%;
    }

    .block_img p {
        grid-area: unset;
    }
}


@media (max-width: 1040px) {
    html {
        font-size: 14px;
    }

    .nav_bar button {
        width: 22vw;
        height: 4rem;
    }
}


@media (max-width: 820px) {
    html {
        font-size: 12px;
    }

    main {
        margin: 0 5%;
    }

    .div_content {
        margin: 1rem 5%
    }

    .nav_bar button {
        width: 100%;
        height: 4rem;
        max-width: 300px;

    }

    .nav_bar ul {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .vidblock {
        margin: 0 5%;
    }

    .vidblock video {
        border: 1px solid #812fdf;
        border-radius: 100%;

        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .foot-left, .foot-center, .foot-right {
        justify-content: center;
        min-width: unset;
        width: 100%;   /* каждый блок занимает всю ширину */
    }

    .foot-center {
        gap: 25%;  /* меньше расстояние между кнопками на маленьких экранах */
    }
}

@media (max-width: 550px) {
    .big_table table {
        font-size: 11px;
    }
}

@media (max-width: 500px) {
    .big_table table {
        font-size: 10px;
    }
}

@media (max-width: 460px) {
    .big_table table {
        font-size: 8px;
    }
}

@media (max-width: 400px) {

    .big_table table {
        font-size: 7px;
    }

    #resume_table td {
        padding: 5px 5px 15px 0px;
        font-size: 11px;
    }
}

@media (max-width: 300px) {
    #resume_table td {
        padding: 5px 5px 5px 0px;
        font-size: 8px;
    }
}